---
import Layout from "../layouts/Layout.astro"
import PorQueElegirnos from "../components/PorQueElegirnos.astro"
import HeroSection from "../components/HeroSection.astro"
import NuestrosProyectos from "../components/NuestrosProyectos.astro"
import NuestrosServicios from "../components/NuestrosServicios.astro"
import UltimosClientes from "../components/UltimosClientes.astro"
---

<Layout
  title="Inicio"
  description="Bienvenido a LC Glass y Soluciones SAC, tu aliado en soluciones de vidrio de calidad. Descubre nuestros servicios innovadores y proyectos destacados que transforman espacios."
>
  <h1 class="sr-only">
    Vidrios y soluciones de calidad para tus proyectos - LC Glass y Soluciones
  </h1>
  <main>
    <HeroSection />
    <PorQueElegirnos />
    <NuestrosServicios />
    <NuestrosProyectos />
    <!-- <UltimosClientes /> -->
  </main>
</Layout>
