---
import GlassTitle from "./GlassTitle.astro"
import ProyectsSlider from "../components/ProyectsSlider"
import GlassButton from "./GlassButton.astro"
---

<section class="flex flex-col lg:flex-row bg-accent lg:h-[40rem]">
  <article
    class="lg:basis-1/2 py-10 lg:px-20 px-4 text-center flex flex-col justify-center gap-12"
  >
    <GlassTitle class="uppercase text-5xl lg:text-7xl font-bold font-oswald">
      Nuestros Proyectos
    </GlassTitle>
    <p class="text-xl leading-relaxed text-white">
      Descubre cómo hemos transformado espacios con nuestras soluciones en
      vidrio y cristalería arquitectónica. Desde fachadas innovadoras hasta
      interiores personalizados, cada proyecto es una muestra de nuestra calidad
      y compromiso.
    </p>
    <!-- <GlassButton
      anchor
      href="/proyectos"
      class="uppercase text-xl px-4 py-2 mx-auto"
    >
      Mira todos<br />nuestros proyectos
    </GlassButton> -->
  </article>
  <ProyectsSlider client:visible />
</section>
