---
import GlassButton from "./GlassButton.astro"
import GlassCard from "./GlassCard.astro"
import GlassTitle from "./GlassTitle.astro"
const services = [
  {
    title: "Fachadas y Cristalería Arquitectónica",
    img: "/serv01.jpeg",
    list: [
      "Revestimiento de fachadas y muros cortina",
      "Instalación de cristales laminados, curvos y blindados",
      "Puertas y ventanas de cristal templado",
    ],
  },
  {
    title: "Soluciones de Cristal para Interiores",
    img: "/hero-slider04.jpeg",
    list: [
      "Espejos decorativos biselados",
      "Tableros de vidrio para mesa",
      "Divisiones de ambiente con diversos modelos",
    ],
  },
  {
    title: "Soluciones Residenciales y Comerciales",
    img: "/serv03.jpeg",
    list: [
      "Ventanas y mamparas acústicas de PVC y aluminio",
      "Techos de policarbonato con estructura de alumino",
    ],
  },
  {
    title: "Construcción Especializada y Carpintería",
    img: "/serv04.jpeg",
    list: [
      "Barandas y pasamanos de acero inoxidable con cristal templado",
      "Trabajos en drywall",
    ],
  },
]
---

<section class="w-full py-16">
  <div class="max-w-screen-xl mx-auto px-4 text-center">
    <GlassTitle class="font-oswald text-5xl lg:text-7xl uppercase font-bold">
      Nuestros Servicios
    </GlassTitle>
    <p class="text-lg mt-4 max-w-screen-sm mx-auto text-white">
      Ofrecemos soluciones innovadoras y de calidad en vidrio, aluminio y otros
      materiales, adaptándonos a las necesidades de cada cliente y proyecto.
    </p>
    <div class="mt-8 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">
      {
        services.map((service) => (
          <GlassCard
            title={service.title}
            img={service.img}
            list={service.list}
          />
        ))
      }
    </div>
    <GlassButton
      anchor
      href="/servicios"
      class="mx-auto mt-8 px-8 py-4 text-xl"
    >
      Ver todos los servicios
    </GlassButton>
  </div>
</section>

<style>
  section {
    background-image: linear-gradient(120deg, #0754a4 0%, #d93033 100%);
  }
</style>
