---
interface Feature {
  title: string
  description: string
}

interface Props {
  title: string
  description: string
  features: Feature[]
}

const { title, description, features } = Astro.props
---

<article class="flex lg:flex-row flex-col gap-4 mb-32 mt-8">
  <div class="shadow-lg bg-white rounded-xl basis-1/2">
    <img src="hero-slider04.jpeg" alt="" class="w-full" />
  </div>
  <div class="max-lg:order-first basis-1/2 flex flex-col justify-center">
    <h3 class="font-bold text-6xl font-oswald mb-8">{title}</h3>
    <a
      href="https://wa.me/51998267385?text=Hola%20me%20gustaría%20más%20información%20sobre%20sus%20servicios"
      target="_blank"
      class="block w-fit text-xl bg-accent text-white py-2 px-4"
    >
      Cotizar
    </a>
  </div>
</article>
