---
import InfiniteCarousel from "../components/InfiniteCarousel"
---
<section class="max-w-screen-lg mx-auto">
  <h2 class="text-center uppercase font-oswald text-6xl font-bold">Nuestros ultimos clientes</h2>
  <InfiniteCarousel client:visible/>
</section>