---
import Layout from "../../layouts/Layout.astro"
import GlassTitle from "../../components/GlassTitle.astro"
import ServiceCard from "../../components/ServiceCard.astro"

const services = [
  {
    title: "Puertas de duchas con cristal templado y acrílico",
    description:
      "Puertas de duchas modernas, diseñadas con cristales templados o acrílicos, brindando durabilidad, seguridad y un aspecto elegante en espacios de baño.",
    features: [
      {
        title: "Durabilidad",
        description:
          "El cristal templado garantiza resistencia a golpes y temperaturas altas, manteniendo su calidad.",
      },
      {
        title: "Seguridad",
        description:
          "Diseño sin bordes afilados para evitar accidentes y asegurar una experiencia segura.",
      },
      {
        title: "Estética Personalizable",
        description:
          "Opciones en cristal transparente, mate o con diseños para adaptarse al estilo del baño.",
      },
      {
        title: "Fácil Mantenimiento",
        description:
          "Materiales que facilitan la limpieza y resisten manchas y humedad.",
      },
    ],
  },
  {
    title:
      "Puertas de cristal templado o crudo con estructura de aluminio o accesorios modernos",
    description:
      "Puertas de cristal templado o crudo con estructura de aluminio, ideales para interiores y exteriores, combinando elegancia y resistencia.",
    features: [
      {
        title: "Versatilidad",
        description:
          "Disponibles en varios estilos y diseños para adaptarse a diferentes tipos de espacios.",
      },
      {
        title: "Resistencia al Clima",
        description:
          "El aluminio y el cristal templado soportan condiciones climáticas adversas.",
      },
      {
        title: "Accesorios Modernos",
        description:
          "Incluye bisagras, manijas y sistemas de cierre de última tecnología.",
      },
      {
        title: "Transparencia",
        description:
          "Permite aprovechar la luz natural y crear ambientes luminosos y abiertos.",
      },
    ],
  },
  {
    title:
      "Ventanas y mamparas en cristal templado (sistema corredizo, pivote)",
    description:
      "Ventanas y mamparas de cristal templado con sistemas corredizos y pivotantes, perfectas para espacios modernos que requieren optimización y estilo.",
    features: [
      {
        title: "Sistemas Flexibles",
        description:
          "Disponibilidad de sistemas corredizos y pivotantes para maximizar la funcionalidad del espacio.",
      },
      {
        title: "Resistencia Superior",
        description:
          "Cristales templados que soportan el uso continuo y la exposición ambiental.",
      },
      {
        title: "Aislante de Sonido",
        description:
          "Ayuda a reducir el ruido exterior, mejorando el confort en interiores.",
      },
      {
        title: "Fácil Instalación",
        description:
          "Diseñadas para una instalación rápida y adaptable a distintos entornos.",
      },
    ],
  },
  {
    title: "Barandas con cristal templado y aluminio",
    description:
      "Barandas que combinan cristal templado y aluminio para ofrecer seguridad y una apariencia moderna en escaleras, balcones y terrazas.",
    features: [
      {
        title: "Alta Seguridad",
        description:
          "Cristal templado resistente para evitar caídas y asegurar la protección de los usuarios.",
      },
      {
        title: "Estilo Minimalista",
        description:
          "Diseño limpio y transparente que complementa cualquier arquitectura moderna.",
      },
      {
        title: "Durabilidad",
        description:
          "Materiales que soportan uso intensivo y condiciones climáticas extremas sin perder su estética.",
      },
      {
        title: "Personalización",
        description:
          "Posibilidad de elegir entre distintos tipos de acabados y colores en aluminio.",
      },
    ],
  },
]
---

<Layout
  title="Servicios"
  description="Explora nuestros servicios en LC Glass y Soluciones SAC. Ofrecemos una variedad de soluciones de vidrio, incluyendo cristales templados, diseño a medida y más. ¡Contáctanos para más información!"
>
  <header class="pt-48 pb-24 px-4 text-center bg-primary">
    <span class="text-white font-semibold text-2xl">Nuestros servicios</span>
    <br />
    <GlassTitle class="font-oswald font-bold text-5xl md:text-7xl uppercase">
      desarrollamos las siguientes actvidades
    </GlassTitle>
  </header>
  <main class="max-w-screen-lg mx-auto px-4">
    <article class="flex lg:flex-row flex-col gap-4 my-20 lg:h-96">
      <img
        src="/servicios/servi01.jpeg"
        alt=""
        class="basis-[30%] max-w-96 mx-auto object-cover"
      />
      <div class="max-lg:order-first basis-[70%] flex flex-col justify-center max-lg:text-center">
        <h3 class="font-bold lg:text-6xl text-3xl font-oswald mb-8">
          Puertas de duchas con cristal templado <br />
          <span class="text-4xl">(fija y corrediza)</span>
        </h3>
        <a
          href="https://wa.me/51998267385?text=Hola%20me%20gustaría%20más%20información%20sobre%20sus%20servicios"
          target="_blank"
          class="block w-fit text-xl max-lg:mx-auto bg-accent text-white py-2 px-4"
        >
          Cotizar
        </a>
      </div>
    </article>
    <article class="flex lg:flex-row flex-col lg:h-96 gap-8 my-20">
      <div class="basis-[60%] bg-red-300 order-last">
        <img src="/servicios/servi02.jpeg" alt="" class="h-full object-cover" />
      </div>
      <div class="basis-[40%] flex flex-col justify-center max-lg:text-center">
        <h3 class="font-bold lg:text-7xl text-5xl font-oswald mb-8">
          Ventana de aluminio con cristal templado
        </h3>
        <a
          href="https://wa.me/51998267385?text=Hola%20me%20gustaría%20más%20información%20sobre%20sus%20servicios"
          target="_blank"
          class="block w-fit text-xl max-lg:mx-auto bg-accent text-white py-2 px-4"
        >
          Cotizar
        </a>
      </div>
    </article>
    <article class="flex lg:flex-row flex-col lg:h-96 gap-4 my-20">
      <div class="basis-[60%] bg-red-300 order-last">
        <img src="/servicios/servi03.jpeg" alt="" class="h-full object-cover" />
      </div>
      <div class="basis-[40%] flex flex-col justify-center">
        <h3 class="font-bold lg:text-5xl text-4xl font-oswald mb-8 max-lg:text-center">
          Mampara con carpiteria de alumino con cristal templado
        </h3>
        <a
          href="https://wa.me/51998267385?text=Hola%20me%20gustaría%20más%20información%20sobre%20sus%20servicios"
          target="_blank"
          class="block w-fit text-xl bg-accent text-white py-2 px-4 max-lg:mx-auto"
        >
          Cotizar
        </a>
      </div>
    </article>
    <article class="flex lg:flex-row flex-col lg:h-96 gap-4 my-20">
      <div class="basis-[60%] order-last">
        <img
          src="/servicios/servi04-2.jpeg"
          alt=""
          class="h-full lg:w-full max-w-96 mx-auto object-top object-cover"
        />
      </div>
      <div class="basis-[40%] flex flex-col justify-center">
        <h3 class="font-bold lg:text-6xl text-5xl max-lg:text-center font-oswald mb-8">
          Revestimiento de fachadas y muro cortina
        </h3>
        <a
          href="https://wa.me/51998267385?text=Hola%20me%20gustaría%20más%20información%20sobre%20sus%20servicios"
          target="_blank"
          class="block w-fit text-xl bg-accent text-white py-2 px-4 max-lg:mx-auto"
        >
          Cotizar
        </a>
      </div>
    </article>
    <article class="flex lg:flex-row flex-col lg:h-96 gap-4 my-20">
      <div class="basis-[40%] order-last">
        <img
          src="/servicios/servi05-2.jpeg"
          alt=""
          class="lg:w-full max-w-96 mx-auto h-full object-cover"
        />
      </div>
      <div class="basis-[60%] flex flex-col justify-center">
        <h3 class="font-bold lg:text-6xl text-5xl max-lg:text-center font-oswald mb-8">
          Puertas de cristal templado con estructura de aluminio
        </h3>
        <a
          href="https://wa.me/51998267385?text=Hola%20me%20gustaría%20más%20información%20sobre%20sus%20servicios"
          target="_blank"
          class="block w-fit text-xl bg-accent text-white py-2 px-4 max-lg:mx-auto"
        >
          Cotizar
        </a>
      </div>
    </article>
    <article class="flex lg:flex-row flex-col lg:h-96 gap-4 my-20">
      <div class="basis-[50%] order-last">
        <img
          src="/servicios/servi06.jpeg"
          alt=""
          class="w-full h-full object-cover"
        />
      </div>
      <div class="basis-[50%] flex flex-col justify-center">
        <h3 class="font-bold lg:text-6xl text-5xl max-lg:text-center font-oswald mb-8">
          Ventanas y mamparas acústicas de PVC y aluminio
        </h3>
        <a
          href="https://wa.me/51998267385?text=Hola%20me%20gustaría%20más%20información%20sobre%20sus%20servicios"
          target="_blank"
          class="block w-fit text-xl bg-accent text-white py-2 px-4 max-lg:mx-auto"
        >
          Cotizar
        </a>
      </div>
    </article>
    <article class="flex lg:flex-row flex-col lg:h-96 gap-4 my-20">
      <div class="basis-[60%] order-last">
        <img
          src="/servicios/servi07.jpeg"
          alt=""
          class="w-full h-full object-cover"
        />
      </div>
      <div class="basis-[40%] flex flex-col justify-center">
        <h3 class="font-bold lg:text-7xl text-5xl max-lg:text-center font-oswald mb-8">
          Puertas de cristal templado
        </h3>
        <a
          href="https://wa.me/51998267385?text=Hola%20me%20gustaría%20más%20información%20sobre%20sus%20servicios"
          target="_blank"
          class="block w-fit text-xl bg-accent text-white py-2 px-4 max-lg:mx-auto"
        >
          Cotizar
        </a>
      </div>
    </article>
    <section class="grid grid-cols-2 gap-8">
      <article class="border p-2 rounded-lg bg-white">
        <h3 class="font-bold text-2xl font-oswald mb-8">
          Barandas con cristal templado y acero inoxcidable
        </h3>
        <a
          href="https://wa.me/51998267385?text=Hola%20me%20gustaría%20más%20información%20sobre%20sus%20servicios"
          target="_blank"
          class="block w-fit text-xl bg-accent text-white py-2 px-4"
        >
          Cotizar
        </a>
      </article>
      <article class="border p-2 rounded-lg bg-white">
        <h3 class="font-bold text-2xl font-oswald mb-8">
          Instalación de cristales laminados, curvos, blindados
        </h3>
        <a
          href="https://wa.me/51998267385?text=Hola%20me%20gustaría%20más%20información%20sobre%20sus%20servicios"
          target="_blank"
          class="block w-fit text-xl bg-accent text-white py-2 px-4"
        >
          Cotizar
        </a>
      </article>
      <article class="border p-2 rounded-lg bg-white">
        <h3 class="font-bold text-2xl font-oswald mb-8">
          Techos de policarbonato con estructura de aluminio
        </h3>
        <a
          href="https://wa.me/51998267385?text=Hola%20me%20gustaría%20más%20información%20sobre%20sus%20servicios"
          target="_blank"
          class="block w-fit text-xl bg-accent text-white py-2 px-4"
        >
          Cotizar
        </a>
      </article>
      <article class="border p-2 rounded-lg bg-white">
        <h3 class="font-bold text-2xl font-oswald mb-8">
          Espejos decorativos biselados.
        </h3>
        <a
          href="https://wa.me/51998267385?text=Hola%20me%20gustaría%20más%20información%20sobre%20sus%20servicios"
          target="_blank"
          class="block w-fit text-xl bg-accent text-white py-2 px-4"
        >
          Cotizar
        </a>
      </article>
      <article class="border p-2 rounded-lg bg-white">
        <h3 class="font-bold text-2xl font-oswald mb-8">
          Tableros de vidrio para Mesa
        </h3>
        <a
          href="https://wa.me/51998267385?text=Hola%20me%20gustaría%20más%20información%20sobre%20sus%20servicios"
          target="_blank"
          class="block w-fit text-xl bg-accent text-white py-2 px-4"
        >
          Cotizar
        </a>
      </article>
      <article class="border p-2 rounded-lg bg-white">
        <h3 class="font-bold text-2xl font-oswald mb-8">
          Divisiones de Ambiente con diversos modelos y laminados con diseño.
        </h3>
        <a
          href="https://wa.me/51998267385?text=Hola%20me%20gustaría%20más%20información%20sobre%20sus%20servicios"
          target="_blank"
          class="block w-fit text-xl bg-accent text-white py-2 px-4"
        >
          Cotizar
        </a>
      </article>
      <article class="border p-2 rounded-lg bg-white">
        <h3 class="font-bold text-2xl font-oswald mb-8">
          Láminas de seguridad, arenadas y decorativas
        </h3>
        <a
          href="https://wa.me/51998267385?text=Hola%20me%20gustaría%20más%20información%20sobre%20sus%20servicios"
          target="_blank"
          class="block w-fit text-xl bg-accent text-white py-2 px-4"
        >
          Cotizar
        </a>
      </article>
      <article class="border p-2 rounded-lg bg-white">
        <h3 class="font-bold text-2xl font-oswald mb-8">
          Pasos de Escalera de Cristal Templado.
        </h3>
        <a
          href="https://wa.me/51998267385?text=Hola%20me%20gustaría%20más%20información%20sobre%20sus%20servicios"
          target="_blank"
          class="block w-fit text-xl bg-accent text-white py-2 px-4"
        >
          Cotizar
        </a>
      </article>
    </section>
  </main>
</Layout>
